@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-size: 22px;
  --swiper-navigation-color: #7239ce;
}

.swiper-horizontal{
  padding: 0 40px!important;
}

body {
  background-color: #fff;
}
